<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Гостиница</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="hotel-content" padding>
  <img class="hotel-content__img" src="{{hotel.imageUrl}}"/>
  <h2>
    {{hotel.title}}
  </h2>
  <p>
    Описание: {{hotel.description}}
  </p>
  <p>
    Адрес: {{hotel.address}}
  </p>
  <ion-list>
    <ion-item no-padding>
      <ion-label>Цена:</ion-label><p item-end>{{hotel.roomCost}}</p>
    </ion-item>
    <ion-item no-padding>
      <ion-label>Парковка:</ion-label> 
      <ion-icon *ngIf="hotel.hasParking" color="primary" name="ios-checkmark" item-end></ion-icon>
      <ion-icon *ngIf="!hotel.hasParking" color="grey" name="ios-close" item-end></ion-icon>
    </ion-item>
    <ion-item no-padding no-margin>
      <ion-label>Телефон:</ion-label>
      <button class="hotel-content__button-phone" ion-button clear item-end>{{hotel.phone}}</button>
    </ion-item>
  </ion-list>
</ion-content>
