<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Гостиницы</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchIsShow = !searchIsShow">
        <ion-icon name="search"></ion-icon>
      </button>
      <button 
        ion-button 
        icon-only
        (click)="openFilterMenu()"
      >
        <ion-icon name="options">  
        </ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-menu side="right" id="filter" [content]="mycontent">
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>Цена от</ion-label>
          <ion-input type="number" [(ngModel)]="filters.roomCostBefore"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Цена до</ion-label>
          <ion-input type="number" [(ngModel)]="filters.roomCostAfter"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Наличие парковки</ion-label>
          <ion-checkbox [(ngModel)]="filters.roomHasParking" checked="true"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="button-wrapper">
              <button ion-button small round (click)="filterHotel()">Применить</button>
            </div>
          </ion-col>
          <ion-col>
            <div class="button-wrapper">
              <button ion-button small round (click)="filterHotelClear()">Сбросить</button>
            </div>  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="rootPage"></ion-nav>
  <ion-searchbar
    *ngIf="searchIsShow"
    [(ngModel)]="myInput"
    (ionInput)="onInputSearch($event.target.value)"
    placeholder="Поиск по названию"
    (ionCancel)="onCancelSearch($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Сортировка по</ion-label>
      <ion-select 
        [(ngModel)]="sortBy" 
        (ionChange)="sortHotel($event)"
        cancelText="Отмена"
        okText="Применить"
      >
        <ion-option *ngFor="let select of selectsSort" [value]="select">{{select.name}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-item *ngFor="let hotel of filterHotels" (click)="goToHotelPage(hotel)">
      <ion-avatar item-start>
        <img [src]="hotel.imageUrl">
      </ion-avatar>
      <h2>{{hotel.title}}</h2>
      <p>{{hotel.address}}</p>
    </button>
  </ion-list>
</ion-content>
