page-hotels {
    .hotels-content{
        &__filter-button-submit-wrapper{
            display: flex;
            justify-content: center;
        }
    }
    .hotels-sort{
        &__select{
            max-width: 60%;
        }
    }
}
